<li>
    <div class="view">
        <input type="checkbox" class="toggle" checked={{test}} onchange={{action 'toggleComplete' value='target.checked' preventDefault=false}} />

        <label>{{todo.title}}</label>
        <button class="destroy"></button>
    </div>
</li>
