<div># of task: {{taskCount}}</div>
<section id="todoapp">
  <header id="header">
    <h1>{{#link-to 'index'}}todos{{/link-to}}</h1>
  </header>

  {{outlet}}
</section>

<input type="text" id="new-todo" onkeydown={{action 'createTodo'}} placeholder="What needs to be done?" autofocus />

<div>
  <button onclick={{action 'alertMyName'}}>Created by us</button>
</div>
<div>
  <button onclick={{action 'removeAll'}}>Remove All</button>
</div>

<footer id="info">
  <p>
    Created by us@booker.com
  </p>
  <p>
    {{#link-to 'archived'}}Archived Taskes{{/link-to}}
  </p>
</footer>
