
{{#if model.length}}
    <section id="main">
        <ul id="todo-list" class="todo-list">
            {{#each model as |todo|}}
                {{todo-item todo=todo}}
            {{/each}}
        </ul>
    </section>
{{/if}}
